.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

.nav {
  color: white;
}

.nav_visible, .nav_hidden {
  margin-top: 0px;
}

#nav2 {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
}

.nav_visible {
  transform: translateX(0%);
}

.nav_hidden {
  transform: translateX(-100%);
}

.nav_hidden2 {
  display: none;
}

.teste {
  width: 400px;
}

.sociais_media_icons {
  flex-direction: row;
}

.text {
  color: white;
}

.button {
  display: none;
  color: white;
}

@media(max-width: 400px) {
  .teste {
    width: 200px;
  }
}

@media(max-width: 768px) {
  .nav {
    display: none;
  }

  .img {
    display: none;
  }

  .button {
    display: inline;
    color: white;
  }
}

@media(max-width: 992px) {
  .nav {
    display: none;
  }

  .img {
    display: none;
  }

  .button {
    display: inline;
  }
}
