@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap%27');

*{
  font-family: 'Lobster Two', cursive;
}

.bgPrimary{
    background-color: #D6D6D6;
}
.bgTherd{
    background-color: #5B5B5B;
}