.containerFather {
    width: 100%;
    padding-bottom: 40px;
}

.container {
    width: 100%;
    height: 500px;
    background-image: url(./assets/Background.jpg);
    background-size: cover;
}

.text {
    font-family: 'Forum', cursive;
    width: 45%;
    text-align: justify;
    color: black;
    margin-left: 5rem;
    font-size: 21px;
}

.buttom {
    cursor: pointer;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Forum', cursive;
    align-items: center;
    transition: 0.3s;
    margin-top: 20rem;
    margin-left: 5rem;
}

.buttom:hover {
    color: black;
    transform: scale(1.04);
    background-color: #9A9586;
}

.buttomText {
    margin-top: 8px;
}