.containerFather {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 40px;
}

.container {
  display: flex;
  width: 80%;
  height: 600px;
  justify-content: space-around;
}

.left {
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #9a9586;
  padding-top: 20px;
}

.right {
  width: 40%;
  height: 600px;
  background-image: url("./assets/portrait.jpg");
  background-size: cover;
  background-position: 56%;
  border-radius: 8px;
}

.text {
  font-family: "Forum", cursive;
  width: 80%;
  text-align: justify;
  color: white;
  font-size: 19px;
  overflow-y: hidden;
}

.buttom {
  cursor: pointer;
  color: white;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-family: "Forum", cursive;
  align-items: center;
  transition: 0.3s;
}

.buttom:hover {
  color: black;
  transform: scale(1.04);
  background-color: #9a9586;
}

.buttomText {
  margin-top: 8px;
}

@media (max-width: 972px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }

  .left {
    width: 95%;
    margin-bottom: 10px;
  }

  .right {
    width: 95%;
  }

  .text {
    font-size: 18px;
    width: 90%;
    padding: 10px;
  }
}

@media (max-width: 870px) {
  .text {
    width: 95%;
    padding: 10px;
  }
}

@media (max-width: 812px) {
  .text {
    font-size: max(14px, 2.2vw);
  }
}

@media (max-width: 655px) {
  .buttom {
    width: 200px;
  }
}
